.comicsifo_page {
  background-color: rgb(60, 60, 164);
  font-size: 50px;
}
.comicsinfo_wrapper {
  width: 1440px;
  height: 887px;
  display: flex;
}
.comicsinfo_image {
  background-image: url('../../assets/images/characters/banners/x-men.png');
  background-repeat: no-repeat;
  width: 293px;
  height: 450px;
  margin-top: 50px;
  filter: drop-shadow(3px 2px 7px rgba(0, 0, 0, 0.25));
  transition: all 200ms;
  cursor: pointer;
}
.comicsinfo_image:hover {
  filter: drop-shadow(0px 5px 20px #9f0013);
  margin-top: -5px;
}
.comicsinfo_header {
  margin-top: 50px;
  width: 550px;
  height: 29px;

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
}
.comicsinfo_back {
  margin-top: 50px;
  margin-left: auto;
  margin-right: 0;
  width: 86px;
  height: 24px;

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}
.comicsinfo_titleinfo {
  display: flex;
}
.comicsinfo_title {
  width: 60%;
}
.comicsinfo_text {
  width: 550px;
  height: 120px;
  margin-top: 25px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}
.comicsinfo_pages {
  width: 74px;
  height: 24px;
  margin-top: 25px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.comicsinfo_lang {
  width: 117px;
  height: 24px;
  margin-top: 25px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.comicsinfo_price {
  width: 56px;
  height: 32px;
  margin-top: 25px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #9f0013;
}
