.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .radiobuttons {
    background: #ec7474;
    font-size: 50px;
  }

  input {
    height: 30px;
    width: 30px;
  }
}