/* .characterList_charactersnext {
  margin-top: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 60%;
}
.characterList_but {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
  margin-top: 20px;
}
.background-rightdowntwo {
  background-image: url('../../assets/images/characters/bg\ asset.png');
  width: 467px;
  height: 372px;
  position: absolute;
  right: 0;
}

.characterList {
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.characterList_detailnext {
  width: calc(40% - 20px);
  padding-left: 20px;
  background-color: rgb(98, 98, 194);
} */

.caracterDetail_two {
  height: 300px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgb(20 7 199 / 50%);
}

.caracterDetail_title {
  width: 338px;
  height: 24px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 11px;
  color: #000000;
  display: inline-flex;
  margin-top: 25px;
  margin-left: 55px;
}

.caracterDetail_skeleton {
  padding: 10px;
}

.caracterDetail_skeleton_circle {
  background-image: url('../../assets/images/characters/Ellipse\ 1.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: 40px;
  position: absolute;
}
.caracterDetail_skeleton_rectangle_circle {
  background-image: url('../../assets/images/characters/Rectangle\ 7.png');
  width: 300px;
  height: 16px;
  margin-left: 105px;
}

.caracterDetail_skeleton_rectangle {
  background-image: url('../../assets/images/characters/Rectangle\ 7.png');
  width: 395px;
  height: 30px;
  margin-left: 40px;
  margin-top: 40px;
}
.background-rightdowntwo {
  background-image: url('../../assets/images/characters/bg\ asset.png');
  background-repeat: no-repeat;
  width: 467px;
  height: 735px;
  margin-top: 120%;
}
