
.title{
  flex-direction: column;
  display: flex;
}


.tittle-one{
  display: block;
  position: absolute;
  width: 390px;
  height: 37px;

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  margin-left: 166px;
  margin-top: 50px;

}
.marvel{
  color: #c10e0e;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  margin-right: 10px;
  line-height: 33px;

}

.title-two{
  display: inline-block;
  max-width: 450px;
  height: 52px;
  width: 250px;
  margin-left: 500px;
  position: absolute;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}
.header-logo-tor{
  width: 560px;
  height: 255px;
  margin-top: 137px;
  margin-left: 140px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}
.image-logo{
  display: inline-flex;
  background-image: url("../images/Thumbnail.png");
  margin: 35px 40px 330px 35px;
  height: 180px;
  width: 180px;
  max-height: 300px;
}


.name-TOR {

  font-size: 22px;
  font-weight: 700;
  margin: 5px 249px 186px 250px;
  text-align: left;
}
.text-bottom-tor{
  font-size: 14px;
  margin: 4px 75px 0px -40px;
  width: 250px;
  height: 95px;


}
button {
  text-decoration: none;
  color: #f4e8e8;
  display: inline-block;
  position: relative;
  margin-right: 33px;
  margin-left: -20px;
  margin-top: 30px;
  height: 30px;
  width: 100px;
  border: 1px solid;
  background:linear-gradient(-75deg, transparent 5px, #dd204f 0);
  border-image-slice: 1;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  transition: .2s cubic-bezier(.165, .84, .44, 1);
  clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
}

.button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: rgba(74, 97, 234, 0.62);
  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d24599);
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.button:hover {
  background: rgba(255, 255, 255, 0);

}
.button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
  background-color: #d50082;
}

.header-logo-right{
  width: 560px;
  height: 255px;
  background-color: #252124;
  margin-left: 700px;
  margin-top: -255px;
  display: flex;
}
.text-inside{
  color: white;
  font-size: 20px;
  line-height: 28px;
  display: inline-block;
  margin-top: 35px;
  margin-left: 40px;
}
.molt{
  background-image: url("../images/mjolnir.png");
  height: 196px;
  width: 156px;
  margin-left: 29px;
  margin-top: 50px;
}
.shield{
  background-image: url("../images/shield.png");
  height: 100px;
  width: 100px;
  margin-top: -110px;
  margin-left: 10px;
}
.but-right{
  display: inline-block;
  margin-top: 200px;
  margin-left: -500px;
}


/*sidebar second block */
.sidebar{
  display: flex;
  width: 425px;
  height: 765px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  margin-left: 840px;
}

.ava-sidebar {
  background-image: url("../images/loki.png");
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-left: 25px;
  display: flex;

}
.loki{
  font-weight: bold;
  font-style: revert;
  font-size: x-large;
}

.name-button{
  width: 101px;
  margin-top: 25px;
  margin-left: 50px;
}
.text-sidebar{
  height: 130px;
  width: 365px;
  margin-top: 190px;
  margin-left: 30px;
  position: absolute;
}
.text-sidebar p{
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.comics-text{
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  line-height: 21px;
}
.block-history{
  position: absolute;
  margin-top: 375px;
  margin-left: 25px;
  width: 375px;
  height: 25px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.block-history2{
  display: inline-block;
  position: absolute;
  margin-top: 405px;
  margin-left: 25px;
  width: 375px;
  height: 25px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.block-history3{
  display: inline-block;
  position: absolute;
  margin-top: 440px;
  margin-left: 25px;
  width: 375px;
  height: 25px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.block-history4{
  display: inline-block;
  position: absolute;
  margin-top: 480px;
  margin-left: 25px;
  width: 375px;
  height: 25px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.block-history5{
  display: inline-block;
  position: absolute;
  font-style: normal;
  margin-top: 520px;
  margin-left: 25px;
  width: 375px;
  height: 38px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.block-history6{
  display: inline-block;
  position: absolute;
  line-height: 16px;
  margin-top: 565px;
  margin-left: 25px;
  width: 375px;
  height: 37px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.block-history7{
  display: inline-block;
  position: absolute;
  font-style: normal;
  margin-top: 618px;
  margin-left: 25px;
  width: 375px;
  height: 38px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.block-history8{
  display: inline-block;
  position: absolute;
  font-style: normal;
  margin-top: 670px;
  margin-left: 25px;
  width: 375px;
  height: 26px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.block-history9{
  display: inline-block;
  position: absolute;
  font-style: normal;
  margin-top: 710px;
  margin-left: 25px;
  width: 375px;
  height: 26px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer{
  background-image: url("../images/bg asset.png");
  position: absolute;
  width: 467px;
  height: 372px;
  margin-left: 973px;
}