.caracterCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #232222;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
  transition: all 200ms;
  cursor: pointer;
}
.caracterCard:hover {
  filter: drop-shadow(0px 5px 20px #9f0013);
  margin-top: -5px;
}

.caracterCard__photo {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.caracterCard__photo::after {
  content: '';
  display: block;
  padding-top: 100%;
}
.caracterCard__name {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  height: 60px;
}
