.caracter_comics {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  color: wheat;
  filter: drop-shadow(3px 2px 7px rgba(0, 0, 0, 0.25));
  transition: all 200ms;
  cursor: pointer;
  margin-top: 50px;
}
.caracter_comics:hover {
  filter: drop-shadow(0px 5px 20px #9f0013);
  margin-top: -5px;
}
.caractercomics_photo {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 225px;
  height: 346px;
  padding-left: 20px;
}
.caractercomics_photo::after {
  content: '';
  display: block;
  padding-top: 100%;
}
.caractercomics_name {
  color: rgb(25, 18, 18);
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  height: 2px;
}
.caracterCard_price {
  color: #00000099;

  margin-top: 30px;
  margin-left: 20px;
  width: 33px;
  height: 18px;

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
