.main_heroes {
  display: grid;
  grid-gap: 20px;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}
.but_comics {
  margin: 0;
  left: 45%;
  margin-top: 118px;
  width: 170px;
}
